<div id="itinerary">
    <h1 class="page-name"><%= @itinerary.date %></h1>

    <div class="contents">
        <div id="travel__form">
            <%= form_with model: [@itinerary, @plan], method: :post do |f| %>
            <%= render 'layouts/errors', model: f.object %>
            <div class="form__box">
                <%= f.text_field :text, class:"form" %><br />
                <%= f.submit 'Add', class:"btn" %>
            </div>
            <% end %>
        </div>

        <div class="travel__plans">
            <h2><%= @itinerary.title %> <i class="far fa-edit"></i></h2>

            <div id="plans">
                <%= render 'itineraries/plans', itinerary: @itinerary %>
            </div>
        </div>
    </div>

</div>