<div class="main__field">
  <h1 class="page-name"><%= @travel.start_time %></h1>
  <h1 class="page-name"><%= @travel.title %></h1>

  <div class="travel__wrap">
    <div class="travel__form">
      <%= form_with model:@travel_plan, url: travel_travel_plans_path(@travel) , method: :post do |f| %>
        <div class="error-message"></div>
        <%= f.text_field :text, class:"form" %><br />
        <%= f.submit 'Add', class:"form__btn" %>
      <% end %>
    </div>

    <div id="plans_index">
      <%= render 'travels/plans', travel: @travel %>
    </div>
  </div>

</div>