<h3>投稿記事一覧</h3>
<% galleries.each do |gallery| %>
  <div class="gallery__items">
    <%= link_to gallery_path(gallery) do %>
      <%= image_tag gallery.images[0].to_s %>
    <% end %>
    <div class="gallery__introduce">
      <span class="status"><%= gallery.public_status ? '公開中' : '非公開' %></span>
      <p><%= gallery.address %></p>
      <p><%= l gallery.travel.date %></p>
    </div>
  </div>
<% end %>
<%= paginate galleries, remote: true %>