<div class="main__field">
  <h1 class="page-name"> PROFILE EDIT</h1>
  
  <%= form_with model:@user, local:true do |f| %>
  <%= render 'layouts/errors', model: f.object %>
    <div class="user__form">
      <%= f.attachment_field :profile_image %>
    </div>
    <div class="user__form">
      <%= f.text_field :name, class:"form" %>
    </div>
    <%= f.submit "UPDATE"%>
  <% end %>
</div>