<div id="user">

  <h1 class="page-name">MY PAGE</h1>

  <div class="user__wrap">
    <%= attachment_image_tag @user, :profile_image, format: 'jpg', fallback: "no-image.jpeg", id: "prf-img" %>
      <div class="user__content">
        <p class="name"><%= @user.name %></p>
        <%= link_to edit_user_path(@user.id) do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
  </div>

  <div class="travel__new">
    <%= form_with model: @travel, url: travels_path, remote:true do |f| %>
      <div class="formbox">
        <%= f.text_field :title, placeholder:"Please name your trip", class:"form" %>
        <%= f.date_field :date, class:"form date" %>
      </div>
      <%= f.submit "Create", class:"btn" %>
    <% end %>
  </div>

  <div id="travel">
    <%= render 'travels/index', travels: @travels %>
  </div>

  <div class="gallery__index">
    <%=form_with model: @gallery, local: true, url: new_gallery_path do |f| %>
      <%= f.collection_select(:travel_id, @travels, :id, :date, {prompt:"共有する旅の日程を選択してください", class:"select_box"}) %><br />
      <%= f.submit "日記を書く" %>
    <% end %>
  </div>

</div>