<div class="main__field">

  <h1 class="page-name">MY PAGE</h1>

  <div id="calendar_trigger">カレンダー</div>
  <div class="calendar_view">
    <%= render 'users/calendar'%>
  </div>

  <div class="user__wrap">
    <div class="user__left back">
      <h3>旅の作成</h3>

      <div class="travel__form">
        <%= form_with model: @travel, url: travels_path, remote:true do |f| %>
        <div class="error-messages"></div>
          <div class="form__box">
            <%= f.text_field :title, placeholder:"Please name your trip", class:"form" %>
            <%= f.date_field :date, class:"form date" %>
          </div>
          <%= f.submit "予定を考える", class:"btn" %>
        <% end %>
      </div>

      <div id="travel">
        <%= render 'travels/index', travels: @travels %>
        <%= paginate @travels %>
      </div>

    </div>

    <div class="user__right back">
      <h3>旅の共有</h3>
      <%= link_to new_gallery_path do %>
        <div class="travel__link__btn">先日の旅を共有する</div>
      <% end %>

      <div class="gallery__index">
        <%= render 'users/user_gallery_index', galleries: @galleries%>
      </div>
    </div>

  </div>
  <%= javascript_include_tag 'users/calendar_trigger' %>
</div>