<div class="gallery__title">
    <%#= @travel.title %>
  </div>

  <form onsubmit="return false;">
    <input type="text" value="東京" id="address">
    <button type="button" value="旅行地" id="map_button">検索</button>
  </form>
  <div id="map_display"></div>

  <div class="gallery__form">
    <%= form_with model:gallery,url: url, local:true do |f| %>
    <%#= render 'layouts/errors', model: f.object %>
      <%= f.collection_select(:travel_id, travels, :id, :date, {prompt:"共有する旅の日程を選択してください", class:"select_box"}) %><br />

      <%= f.text_area :text, placeholder:"ここに記事を書いてください。", class:"text-form" %><br />

      <%= f.file_field :images, multiple: true %><br />

      <%= f.hidden_field :address, value:"" %>
      <%= f.hidden_field :latitude, value:"null" %>
      <%= f.hidden_field :longitude, value: "null" %>

      <%= f.submit "CREATE" %>
    <% end %>
  </div>

<%= javascript_include_tag 'galleries/search_map' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY'] %>&callback=initMap&libraries=&v=weekly"async></script>