<div id="gallery">
  <h1 class="page-name">Share</h1>

  <div class="gallery__title">
    <%#= @travel.title %>
  </div>

  <div class="gallery__new">
    <%= form_with model:@gallery,url: galleries_path, local:true do |f| %>
      <%#= f.hidden_field @gallery.travel_id %>
      <%= f.collection_select(:travel_id, @travels, :id, :date, {prompt:"共有する旅の日程を選択してください", class:"select_box"}) %><br />

      <%= f.text_area :text, placeholder:"body", class:"text-form" %><br />

      <%= f.file_field :images, multiple: true %><br />

      <%= f.text_field :address, class:"form" %>

      <%= f.submit "CREATE" %>
    <% end %>
  </div>

</div>