<nav id="nav__menu">

  <ul class="nav__list">
  <% if user_signed_in? %>
    <li class="nav__item">
      <%= link_to 'MY PAGE', user_path(current_user.id), class:"nav__btn" %>
    </li>
    <li class="nav__item">
      <%= link_to 'GALLERY', galleries_path, class:"nav__btn" %>
    </li>
    <li class="nav__item">
      <%= link_to 'BOOKMARK', marks_galleries_path, class:"nav__btn" %>
    </li>
    <li class="nav__item">
      <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class:"nav__btn" %>
    </li>
  <% else %>
    <li class="nav__item">
      <%= link_to 'TOP', root_path, class:"nav__btn" %>
    </li>
    <li class="nav__item">
      <%= link_to 'GALLERY', galleries_path, class:"nav__btn" %>
    </li>
    <li class="nav__item">
      <%= link_to 'LOG IN',  new_user_session_path, class:"nav__btn" %>
    </li>
    <li class="nav__item">
      <%= link_to 'FIRST VISIT', new_user_registration_path, class:"nav__btn" %>
    </li>
  <% end %>
  </ul>

</nav>