<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <header>
        <div class="logo_menu">
          <%= link_to root_path do %>
            <div id="logo"></div>
          <% end %>
          <div id="menu_trigger">▽▽▽</div>
        </div>

        <div class="user__profile">
          <% if user_signed_in?%>
            <%= link_to user_path(current_user.id) do %>
              <%= attachment_image_tag current_user, :profile_image, format: 'jpg', fallback: "no-image.jpg", id: "prf-img" %>
            <% end %>
            <div class="user__name">
               <p class="name"><%= current_user.name %></p>
               <%= link_to edit_user_path(current_user.id) do %>
                 <i class="fas fa-edit"></i>
               <% end %>
            </div>
          <% end %>
        </div>
      </header>

      <%= render 'layouts/menu' %>

      <main>
        <%= yield %>
      </main>

      <footer>Sumi's Portfolio</footer>
    </div>

    <%= javascript_include_tag 'menu_trigger' %>
  </body>
</html>
